* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}


.section-loisir {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 40px -16px rgb(172, 6, 114);
    box-shadow: 3px 3px rgb(172, 6, 114), -1em 0 .4em white;

}

.imgage {
    display: inline;
    float: left;
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: rgb(172, 6, 114);
}

body .section-loisir img {
    display: flex;
    width: 30%;
    float: left;


}

body p {
    float: right;
}

body h2 {
    text-align: center;
}


@media only screen and (max-width: 600px) {


    .section {
        font-size: 16px;
        padding: 10px;
    }

    .section-loisir img {
        width: 100%;
        margin-right: 0;
    }
}